
			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;
			}

			/*Establishing the element styles*/
			h1 {
				font-family: 'Raleway', sans-serif;
				text-transform: uppercase;
				font-size: 2rem;
				/*text-align: center;*/
			}
			h2 {
				font-family: 'Raleway', sans-serif;
				font-size: 1.5rem;
				margin: 1.3rem 0 0.4rem 0;
				padding: 0;
			}
			p {
				font-family: 'Oswald', sans-serif;
				font-weight: normal;
				font-style: normal;
				font-size: 1rem;
			}
			body {
				color: rgba(55,55,55,1);
				background-color: rgba(224,224,224,0.5);

			}
			a {
				font-family: 'Oswald', sans-serif;
				text-decoration: none;
			}
			header {
				font-family: 'Oswald', sans-serif;
			}

			/*Need to use clear here as other elements have 
			float values specified
			----------------------------------*/
			nav, footer {
				clear: both;
				color: rgba(255,255,255,1);
				background-color: #aeaca8;
				height: 2rem;
			}
			nav ul {
				margin: 0px;
				padding: 0.3em 0 0.3em 1.7em;
			}
			/*Having to be explicit about the list item display 
			here as I set the nav parent to block at the outset
			----------------------------------*/
			nav li {
				display: inline;
				margin-right: 4.5rem;
				margin-left: 0.3rem;
			}
			nav li a {
				color: rgba(255,255,255,1);
			}
			/*Trying to do 2 things here, hover is fine but can't 
			get the current page to change colour on the nav bar
			----------------------------------*/
			nav li a:hover, nav li a.current {
				color: rgba(0,0,0,1);
			}

			article {
				clear: both;
				/*overflow: auto;*/
				width: 100%;
			}
			/*I'm using max width and height here as I found them 
			easier to control than rem sizing - also allows the image 
			to scale down as well
			----------------------------------*/
			figure {
				float: left;
				max-width: 220px;
				max-height: 350px;
				padding: 5px;
				margin: 0.1rem 1rem 1.8rem 1rem;
				/*border: 4px solid #eeeeee;*/
			}
			aside {
				max-width: 40%;
				margin: 0 auto;
				float: left;
				padding: 0px 0px 0px 20px;
				font-family: 'Oswald', sans-serif;
				/*border: 2px solid green;*/
			}
			aside h2 {
				padding: 0.8rem 0rem 0.8rem 0rem;
				/*color: #de6581;*/
			}
			aside section li {
				padding: 0.8rem;
    			/*border-bottom: 1px solid #eeeeee;*/
			}
			a {
				color: #de6581;
				text-decoration: none;
			}
			
			footer {
				font-size: 1rem;
				padding: 1em 0 0 1.5em;

			}
			img.logo {
				display: block;
				margin: 0,0,0,0;
			}

			/*Section class style declarations
			----------------------------------*/
			.skills {
				/*float: left;*/
				display: block;
			}
			.contact {
				float: left;
			}
			.contact li {
				display: inline;
				/*padding: 0px;*/
				margin: 
			}

			.contact img {
				max-height: 4em;
				max-width: 4em;
			}
			.portfolio {
		  		float: left;
		  		max-width: 27%;
		  		margin: 0 1rem 0 1rem;
		  		padding: 1em;		 
			}
			.portfolio h2 {
				text-align: center;
			}
			.portfolio img:hover {
				content: url('../IMAGES/code.jpg');
				margin: 0 0 0.4em 0;
			}
			.lead {			
				margin: 0.5rem 0 0 1.9rem;
				max-width: 85%;
			}
			/*end of section class decalration
			----------------------------------*/

			
			/*Div class style declaration
			----------------------------------*/
			.wrapper {
				max-width: 75%;
				margin: 1.25rem auto 1.25rem auto;
				/*border: 2px solid #000000;*/
				background-color: #ffffff;
			}
			.bio {
				max-width: 60%;
				max-height: 100%;
				/*border-right: 2px solid red;*/
				float: left;
				margin: 0 1.5% 0 1.2%;
				padding: 0em 0em 0em 0em;
			}
			.bio img {
				max-width: 100%;
				max-height: 100%;
			}
			
			/*.accordion img {
				width: 100%;
				height: 100%;
			}*/
			/*End of div class style declaration
			----------------------------------*/

			/*Putting in media code to change the layout when the screen size drops to >=700px
			----------------------------------*/
			@media (max-width: 700px) {
			  h1 {
			    font-size: 1.25rem;
			    font-family: helvetica;
			  }
			  h2 {
			    font-size: 1rem;
			    margin: 20px 0 30px 0;
			  }
			  body {
			  	font-size: 0.8rem;
			  }
			  div {
			    margin: 20px 12px 0 12px;
			  }
			  p {
			    font-size: 0.8rem;
			    line-height: 1.5rem;
			   }
			   section.contact li {
			   	display: block;
			   }